---
import '$/styles/global.css';

import type { ImageMetadata } from 'astro';

import { setTitle } from '$/lib/set-title';

import { cn } from '$/lib/cn';

import Header from '$/components/header.astro';
import Footer from '$/components/footer.astro';

type Props = {
  title: string;
  description: string;
  image?: ImageMetadata;
};

const canonicalURL: URL = new URL(Astro.url.pathname, Astro.site);

const { title, description = import.meta.env.PUBLIC_DESCRIPTION, image } = Astro.props;
---

<html lang="en" class={cn('overflow-y-scroll')}>
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" title={setTitle(title)} href={new URL('rss.xml', Astro.site)} />
    <meta name="generator" content={Astro.generator} />

    <!-- Theme initialization (prevent fouc) -->
    <script is:inline src="/theme.js"></script>

    <!-- Font preloads -->
    <link rel="preload" href="/fonts/iosevka-regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/iosevka-bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/iosevka-italic.woff2" as="font" type="font/woff2" crossorigin />

    <!-- Primary Meta Tags -->
    <title>{setTitle(title)}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image?.src ?? '', Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image?.src ?? '', Astro.url)} />
  </head>
  <body
    class={cn(
      'font-mono',
      'text-primary',
      'bg-secondary',
      'w-screen',
      'min-h-screen',
      'overflow-x-hidden',
      'flex',
      'flex-col'
    )}
  >
    <Header />
    <main class={cn('w-full', 'h-full', 'md:w-3xl', 'md:mx-auto')}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
